name: Reusable Cortex CLI Scan

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
    secrets:
      CORTEX_API_KEY:
        required: true
      CORTEX_API_KEY_ID:
        required: true
      CORTEX_API_URL:
        required: true

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Caller Repo
        uses: actions/checkout@v4

      - name: Download cortexcli
        run: |
          crtx_resp=$(curl -H "x-xdr-auth-id: ${{ secrets.CORTEX_API_KEY_ID }}" -H "Authorization: ${{ secrets.CORTEX_API_KEY }}" "${{ secrets.CORTEX_API_URL }}/public_api/v1/unified-cli/releases/download-link?os=linux&architecture=amd64")
          crtx_url=$(echo "$crtx_resp" | jq -r ".signed_url")
          if [ "$crtx_url" == "null" ]; then echo "Failed to get download link"; exit 1; fi
          curl -o cortexcli "$crtx_url"
          chmod +x cortexcli

      - name: Run Cortex Code Scan
        run: |
          ./cortexcli code scan \
            --api-base-url "${{ secrets.CORTEX_API_URL }}" \
            --api-key "${{ secrets.CORTEX_API_KEY }}" \
            --api-key-id "${{ secrets.CORTEX_API_KEY_ID }}" \
            --directory "${{ github.workspace }}" \
            --repo-id "${{ github.repository }}" \
            --branch "${{ github.ref_name }}" \
            --source "GITHUB_ACTIONS" \
            --create-repo-if-missing

      - name: Build and Image Scan
        run: |
          sudo apt install libhyperscan5 jq -y
          docker build -t "${{ inputs.image_name }}" .
          sudo ./cortexcli image scan \
            --api-base-url "${{ secrets.CORTEX_API_URL }}" \
            --api-key "${{ secrets.CORTEX_API_KEY }}" \
            --api-key-id "${{ secrets.CORTEX_API_KEY_ID }}" \
            --soft-fail \
            --name "${{ inputs.image_name }}" \
            "${{ inputs.image_name }}"
