name: Reusable Cortex CLI Scan

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
    secrets:
      CORTEX_API_KEY:
        required: true
      CORTEX_API_KEY_ID:
        required: true
      CORTEX_API_URL:
        required: true

jobs:
  scan:
    runs-on: ubuntu-latest
    # Map the secrets to environment variables for the whole job
    env:
      CORTEX_API_KEY: ${{ secrets.CORTEX_API_KEY }}
      CORTEX_API_KEY_ID: ${{ secrets.CORTEX_API_KEY_ID }}
      CORTEX_API_URL: ${{ secrets.CORTEX_API_URL }}
    
    steps:
      - name: Checkout Caller Repo
        uses: actions/checkout@v4

      - name: Download cortexcli
        run: |
          crtx_resp=$(curl -s -H "x-xdr-auth-id: ${CORTEX_API_KEY_ID}" -H "Authorization: ${CORTEX_API_KEY}" "${CORTEX_API_URL}/public_api/v1/unified-cli/releases/download-link?os=linux&architecture=amd64")
          crtx_url=$(echo "$crtx_resp" | jq -r ".signed_url")
          curl -s -o cortexcli "$crtx_url"
          chmod +x cortexcli

      - name: Run Cortex Code Scan
        run: |
          # Now these variables will be populated from the job-level 'env'
          ./cortexcli code scan \
            --api-base-url "${CORTEX_API_URL}" \
            --api-key "${CORTEX_API_KEY}" \
            --api-key-id "${CORTEX_API_KEY_ID}" \
            --directory "${{ github.workspace }}" \
            --repo-id "${{ github.repository }}" \
            --branch "${{ github.ref_name }}" \
            --source "GITHUB_ACTIONS" \
            --create-repo-if-missing
